<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      throwExceptions="false"
      internalLogToConsole="false"
      internalLogLevel="Info"
      internalLogFile="App_Data/nlog.txt">
  <!-- 
  See http://nlog-project.org/wiki/Configuration_file 
  for information on customizing logging rules and outputs.
   -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore" />
  </extensions>
  <!-- formatted for easy file readability -->
  <variable name="ExceptionDetails" value="${newline}SOURCE:             ${event-properties:item=source}${newline}CLASS NAME:         ${event-properties:item=classname}${newline}METHOD NAME:       ${event-properties:item=method}${newline}EXCEPTION:          ${event-properties:item=exceptionType}${newline}EXCEPTION MESSAGE:  ${event-properties:item=exceptionMessage}${newline}STACK TRACE:        ${event-properties:item=stacktrace}${newline}INNER EXCEPTION:    ${event-properties:item=innerException}"/>
  <variable name="DefaultLayout" value="##########BEGIN ENTRY##########${newline}DATE:               ${date}${newline}LEVEL:              ${level:uppercase=true}${newline}MACHINE NAME:       ${machinename:uppercase=true}${newline}PROCESS:            ${event-properties:item=process}${newline}USER:               ${event-properties:item=username}${newline}MESSAGE:            ${message}${newline}SOURCE:             ${event-properties:item=source}${newline}CLASS NAME:         ${event-properties:item=classname}${newline}METHOD NAME:       ${event-properties:item=method}${newline}EXCEPTION:          ${event-properties:item=exceptionType}${newline}EXCEPTION MESSAGE:  ${event-properties:item=exceptionMessage}${newline}STACK TRACE:        ${event-properties:item=stacktrace}${newline}INNER EXCEPTION:    ${event-properties:item=innerException}${newline}###########END ENTRY###########"/>

  <targets async="true">
    <target name="console" xsi:type="Console" layout="${DefaultLayout}" />

    <!-- file targets -->
    <target name="file" xsi:type="File"
          fileName="${basedir}/logs/logfile.txt"
          archiveFileName="${basedir}/logs/archives/log.{#}.txt"
          archiveEvery="Day"
          archiveNumbering="Rolling"
          maxArchiveFiles="30"
          concurrentWrites="true"
          keepFileOpen="false"
          encoding="utf-8"
          layout="${DefaultLayout}" />

    <target name="database"             
            xsi:type="Database" 
            keepConnection="true"
            dbProvider="System.Data.SqlClient" >
      <!--LayoutRender not Working correctly so using global config for now-->
      <!--<connectionString>${configsetting:name=ConnectionStrings.MerlinDataContext}</connectionString>-->
      <connectionString>${gdc:item=connectionString}</connectionString>
      <commandText>INSERT INTO dbo.LOG(DT_EVENT, CD_LEVEL, CD_PROCESS, ID_USER, DS_SERVERNAME, DS_MESSAGE, DS_SOURCE, DS_CLASSNAME, DS_METHOD, DS_EXCEPTION_TYPE, DS_EXCEPTION_MESSAGE, DS_STACKTRACE, DS_INNER_EXCEPTION) 
        VALUES (GETDATE(), @CD_LEVEL, @CD_PROCESS, @ID_USER, @DS_SERVERNAME, LEFT(@DS_MESSAGE,8000), @DS_SOURCE, @DS_CLASSNAME, @DS_METHOD, @DS_EXCEPTION_TYPE, @DS_EXCEPTION_MESSAGE, @DS_STACKTRACE, @DS_INNER_EXCEPTION)
      </commandText>
      <!-- parameters for the command -->
      <parameter name="@CD_LEVEL" layout="${level:uppercase=true}" />
      <parameter name="@CD_PROCESS" layout="${event-properties:item=process}" />
      <parameter name="@ID_USER" layout="${event-properties:item=username}" />
      <parameter name="@DS_SERVERNAME" layout="${machinename:uppercase=true}" />
      <parameter name="@DS_MESSAGE" layout="${message:uppercase=true}" />
      <parameter name="@DS_SOURCE" layout="${event-properties:item=source}" />
      <parameter name="@DS_CLASSNAME" layout="${event-properties:item=classname}" />
      <parameter name="@DS_METHOD" layout="${event-properties:item=method}" />
      <parameter name="@DS_EXCEPTION_TYPE" layout="${event-properties:item=exceptionType}" />
      <parameter name="@DS_EXCEPTION_MESSAGE" layout="${event-properties:item=exceptionMessage}" />
      <parameter name="@DS_STACKTRACE" layout="${event-properties:item=stacktrace}" />
      <parameter name="@DS_INNER_EXCEPTION" layout="${event-properties:item=innerException}" />
    </target>
  </targets>
  <rules>
    <logger name="Microsoft.*" maxLevel="Info" final="true" /> <!-- hide all MS Framework Logging -->
    <logger name="*" minlevel="Info" writeTo="database,file,console" />
  </rules>
  <!--<extensions>
    <add assembly="NLog.Extended" />
  </extensions>-->
</nlog>
